#page-document.pessoa-view {
  @include default-container-width();
  .documentImage {
    max-width: 200px !important;
    border-radius: 50%;
  }

  .documentFirstHeading {
    margin-bottom: 1rem;
  }

  .documentDescription {
    margin-bottom: 1rem;
  }

  .pessoa-header {
    display: flex;
    margin: 1rem;
    gap: 2rem;
  }

  .cargo-area {
    display: flex;
    gap: 1rem;
  }
}
